@import url("https://fonts.googleapis.com/css?family=Pattaya");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  color: inherit; }

ul {
  list-style-type: none; }

body {
  font-family: 'Roboto', sans-serif;
  color: #666; }

.container {
  width: 1160px;
  margin: 0 auto; }

.article-heading {
  font-family: 'Pattaya', sans-serif;
  text-align: center;
  color: #666;
  font-size: 60px;
  position: relative; }
  .article-heading::after {
    content: url(../images/line.png);
    display: block;
    position: absolute;
    top: 35px; }

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 50px; }

.article-item-heading {
  font-family: 'Roboto', sans-serif;
  color: #00ada5;
  font-weight: bold;
  font-size: 24px; }

article {
  width: 22%;
  border-radius: 3px;
  box-shadow: 0 0 3px #b6b6b6;
  padding: 33px;
  margin: 15px 5px; }
  article p {
    font-size: 16px;
    line-height: 24px; }
  article img {
    float: left;
    margin-left: -33px;
    margin-top: -33px;
    margin-right: 33px; }

article:first-child,
article:nth-child(5) {
  width: 45%; }

.date {
  font-size: 10px;
  color: #666;
  margin: 10px 0; }
