/*fonts*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');


/*reset*/

*, 
*::before, 
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style-type: none;
}


/*general*/

html {
	font-size: 62.5%;
	line-height: 1.5;
	font-family: "Open Sans", sans-serif;
}

body {
	font-size: 1.6rem;
	font-weight: 300;
}


.container {
	max-width: 1024px;
	margin: auto;
}

/*header*/

.header {
	padding-top: 14px;
	padding-bottom: 14px;
	position: absolute;
	left: 50%;
	max-width: 1024px;
	width: 100%;
	transform: translateX(-50%);
	display: flex;
	justify-content: space-between;
	color: #fff;
}

.logo {
	background-image: url(../images/logo.png);
	display: block;
	width: 104px;
	height: 38px;
	transition: opacity .4s;
}

.logo:hover {
	opacity: .4;
	cursor: pointer;
}

.nav {
	font-weight: 300;
}

.nav-item {
	display: inline-block;
}

.nav-link {
	display: block;
	padding: 10px 14px;
	text-transform: uppercase;
	position: relative;
}

.nav-link::before,
.nav-link::after {
   display: block;
   position: absolute;
   content: "";
   height: 1px;
   width: 0;
   background-color: #fff;
   transition: width .4s ease-in-out, left .4s ease-in-out;
   left: 50%;
   bottom: -2px;
}

.nav-link:hover::before,
.nav-link:hover::after {
   width: 50%;
}

.nav-link:hover::before {
	left: 0;
}

main {
	width: 100%;
}

.join {
	background-color: #f74c55;
	padding-top: 17%;
	padding-bottom: 15%;
	height: 100vh;
	overflow: hidden;
	color: #fff;
}

.container-join {
	position: relative;
	padding-left: 37%;
}

.container-join::before {
	content: "";
	display: block;
	background-color: rgba(255, 255, 255, .15);
	height: 1300px;
	width: 1300px;
	border-radius: 50%;
	position: absolute;
	left: 0%;
	top: 220px;
	transform: translate(-60%, -50%);
}

.join-heading {
	font-size: 4rem;
}

.join-link {
	display: inline-block;
	padding: 12px 28px;
	font-size: 2.4rem;
	border: 2px solid #fff;
	border-radius: 5px;
	transition: .4s;
}

.join-link:hover {
	background-color: #fff;
	color: #f74c55;
}

.container-about {
	padding-top: 80px;
	padding-bottom: 100px;
}


.article-heading {
	text-align: center;
	font-size: 3rem;
	font-weight: 300;
	padding-bottom: 25px;
}

.about article p {
	color: #404040;
	font-size: 1.4rem;
	line-height: 2.5rem;
}

.about article {
	padding-left: 165px;
	padding-right: 160px;
	padding-bottom: 90px;
	background: url(../images/article-bg.gif) 160px bottom no-repeat;
}

.boxes {
	width: 100%;
	border-bottom: 2px solid #f74c55;
	background-color: #404040;
	position: relative;
	z-index: -1;
}

.boxes-list {
	color: #fff;
	font-size: 1.4rem;
	line-height: 2.5rem;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.boxes-item {
	padding: 43px 55px 80px;
	width: calc(100%/3);
}

.boxes-heading {
	font-size: 2.2rem;
	font-weight: 400;
	padding-bottom: 22px;
	position: relative;
}

.responsive {
	background-color: #f74c55;
}

.cloud {
	background-color: #2d5f3b;
}

.boxes::after {
	content: "";
	position: absolute;
	height: 100%;
	width: 50%;
	background-color: #2d5f3b;
	display: block;
	top: 0;
	right: 0;
	z-index: -1;
}

.seo .boxes-heading {
	padding-left: 40px;
}

.seo .boxes-heading::before {
	content: url(../images/seo.png);
	display: block;
	position: absolute;
	left: 0;
	top: -2px;
}

.responsive .boxes-heading {
	padding-left: 45px;
}

.responsive .boxes-heading::before {
	content: url(../images/responsive.png);
	display: block;
	position: absolute;
	left: 0;
	top: -7px;
}

.cloud .boxes-heading {
	padding-left: 50px;
}

.cloud .boxes-heading::before {
	content: url(../images/cloud.png);
	display: block;
	position: absolute;
	left: 0;
	top: -2px;
}